<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="vehicleTo" type="com.lissenok88.vehicle.directory.to.VehicleTo"*/-->
<!--/*@thymesVar id="vehicleTos" type="java.util.List<com.lissenok88.vehicle.directory.to.VehicleTo>"*/-->

<head>
    <meta charset="UTF-8"/>
    <title>Vehicles</title>
</head>

<body>
<h1>Vehicles</h1>
<button type="button" onclick='location.href="/ui/vehicle/new"'>Add new vehicle</button>
<br><br>
<table class="table table-striped">
    <thead class="sticky-top bg-white">
    <tr>
        <th>StateNumber</th>
        <th>Make</th>
        <th>Model</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="vehicleTo : ${vehicleTos}">
        <td th:text="${vehicleTo.getStateNumber()}"></td>
        <td th:text="${vehicleTo.getMake()}"></td>
        <td th:text="${vehicleTo.getModel()}"></td>
        <td><a th:href="'/ui/vehicle/' + ${vehicleTo.getId()} + '/edit'">Update</a></td>
    </tr>
    </tbody>
</table>

<form method="get" action="/ui/vehicle/filter">
    <dl>
    <input type="hidden" name="action" value="filter">
        <dl>
        <dt>Make:
            <label>
                <input type="text" name="make" th:value="${param.make}">
            </label></dt>
        </dl>
        <dl>
        <dt>Model:
            <label>
                <input type="text" name="model" th:value="${param.models}">
            </label></dt>
        </dl>
        <dl>
        <dt>Category:
            <label>
                <input type="text" name="category" th:value="${param.category}">
            </label></dt>
        </dl>
        <dl>
        <dt>State Number:
            <label>
                <input type="text" name="stateNumber" th:value="${param.stateNumber}">
            </label></dt>
        </dl>
        <dl>
        <dt>Year:
            <label>
                <input type="text" name="year" th:value="${param.year}">
            </label></dt>
        </dl>
        <button type="submit">Filter</button>
        <button type="button" onclick='location.href="/ui/vehicle"'>Clear Filter</button>
    </dl>
</form>
<br/>
</body>
</html>

