<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="vehicleTo" type="com.lissenok88.vehicle.directory.to.VehicleTo"*/-->
<!--/*@thymesVar id="vehicleTos" type="java.util.List<com.lissenok88.vehicle.directory.to.VehicleTo>"*/-->

<head>
    <meta charset="UTF-8"/>
    <title>Vehicles</title>
    <style>table th, table td {
        padding: 5px;
    }</style>
</head>
<body>

<div>
<form method="post">
    StateNumber: <label>
    <input type="text" name="stateNumber" th:value="${vehicleTo.getStateNumber()}" placeholder="stateNumber"/>
</label><br><br>
    Make: <label>
    <input type="text" name="make" th:value="${vehicleTo.getMake()}" placeholder="make">
</label><br><br>
    Model: <label>
    <input type="text" name="model" th:value="${vehicleTo.getModel()}" placeholder="model">
</label><br><br>
    Category: <label>
    <input type="text" name="category" th:value="${vehicleTo.getCategory()}" placeholder="category">
</label><br><br>
    Type: <label>
    <input type="text" name="type" th:value="${vehicleTo.getType()}" placeholder="type">
</label><br><br>
    Year: <label>
    <input type="text" name="year" th:value="${vehicleTo.getYear()}" placeholder="year">
</label><br><br>
    Trailer: <label>
    <input type="text" name="trailer" th:value="${vehicleTo.getTrailer()}" placeholder="trailer">
</label><br><br>
    <input type="submit" value="Update Vehicle">
    <input type="button" name="cancel" value="Cancel" onclick='location.href="/ui/vehicle"'>
</form>
</div>
</body>
</html>