<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="vehicleTo" type="com.lissenok88.vehicle.directory.dto.VehicleDTO"*/-->
<!--/*@thymesVar id="vehicleTos" type="java.util.List<com.lissenok88.vehicle.directory.dto.VehicleDTO>"*/-->

<head>
    <meta charset="UTF-8"/>
    <title>Vehicles</title>
</head>

<body>
<h1>Транспортные средства</h1>
<button type="button" onclick='location.href="/ui/vehicle/new"'>Добавить</button>
<br><br>
<table class="table table-striped">
    <thead class="sticky-top bg-white">
    <tr>
        <th>Номер</th>
        <th>Марка</th>
        <th>Модель</th>
        <th>Категория</th>
        <th>Тип</th>
        <th>Год</th>
        <th>Прицеп</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="vehicleTo : ${vehicleTos}">
        <td th:text="${vehicleTo.getStateNumber()}"></td>
        <td th:text="${vehicleTo.getBrand()}"></td>
        <td th:text="${vehicleTo.getModel()}"></td>
        <td th:text="${vehicleTo.getCategory()}"></td>
        <td th:text="${vehicleTo.getType()}"></td>
        <td th:text="${vehicleTo.getYear()}"></td>
        <td th:text="${vehicleTo.getTrailer()}"></td>
        <td><a th:href="'/ui/vehicle/' + ${vehicleTo.getId()} + '/edit'">Редактировать</a></td>
    </tr>
    </tbody>
</table>

<form method="get" action="/ui/vehicle/filter">
    <dl>
    <input type="hidden" name="action" value="filter">
        <dl>
        <dt>Марка:
            <label>
                <input type="text" name="brand" th:value="${param.brand}">
            </label></dt>
        </dl>
        <dl>
        <dt>Модель:
            <label>
                <input type="text" name="model" th:value="${param.models}">
            </label></dt>
        </dl>
        <dl>
        <dt>Категория:
            <label>
                <input type="text" name="category" th:value="${param.category}">
            </label></dt>
        </dl>
        <dl>
        <dt>Номер:
            <label>
                <input type="text" name="stateNumber" th:value="${param.stateNumber}">
            </label></dt>
        </dl>
        <dl>
        <dt>Год:
            <label>
                <input type="text" name="year" th:value="${param.year}">
            </label></dt>
        </dl>
        <button type="submit">Поиск</button>
        <button type="button" onclick='location.href="/ui/vehicle"'>Сбросить</button>
    </dl>
</form>
<br/>
</body>
</html>

