<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="vehicleTo" type="com.lissenok88.vehicle.directory.dto.VehicleDTO"*/-->
<!--/*@thymesVar id="vehicleTos" type="java.util.List<com.lissenok88.vehicle.directory.dto.VehicleDTO>"*/-->
<!--/*@thymesVar id="types" type="java.util.List<String>"*/-->

<head>
    <meta charset="UTF-8"/>
    <title>Edit Vehicle</title>
</head>
<body>
<h1>Редактировать</h1>
<div>
<form method="post">
    Номер: <label>
    <input type="text" name="stateNumber" th:value="${vehicleTo.getStateNumber()}"/>
</label><br><br>
    Марка: <label>
    <input type="text" name="brand" th:value="${vehicleTo.getBrand()}">
</label><br><br>
    Модель: <label>
    <input type="text" name="model" th:value="${vehicleTo.getModel()}">
</label><br><br>
    Категория: <label>
    <input type="text" name="category" th:value="${vehicleTo.getCategory()}">
</label><br><br>
    Тип: <label>
    <select class="form-control" id="types" name="type">
        <option value="0" th:text="${vehicleTo.getType()}"></option>
        <option th:each="type : ${types}" th:value="${type}" th:text="${type}"></option>
    </select>
</label><br><br>
    Год: <label>
    <input type="text" name="year" th:value="${vehicleTo.getYear()}">
</label><br><br>
    Пррицеп: <label>
    <input type="text" name="trailer" th:value="${vehicleTo.getTrailer()}">
</label><br><br>
    <input type="submit" value="Обновить">
    <input type="button" name="cancel" value="Закрыть" onclick='location.href="/ui/vehicle"'>
</form>
</div>
</body>
</html>