<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="vehicleTo" type="com.lissenok88.vehicle.directory.dto.VehicleDTO"*/-->
<!--/*@thymesVar id="vehicleTos" type="java.util.List<com.lissenok88.vehicle.directory.dto.VehicleDTO>"*/-->
<!--/*@thymesVar id="types" type="java.util.List<String>"*/-->

<head>
    <meta charset="UTF-8"/>
    <title>Create New Vehicle</title>
</head>
<body>
<h1>Добавить</h1>
<div>
    <form method="post">
        Номер: <label>
            <input type="text" name="stateNumber"/>
            </label><br><br>
        Марка: <label>
            <input type="text" name="brand">
            </label><br><br>
        Модель: <label>
            <input type="text" name="model">
            </label><br><br>
        Категория: <label>
            <input type="text" name="category">
            </label><br><br>
        Тип: <label>
            <select class="form-control" id="types" name="type">
                <option th:each="type : ${types}" th:value="${type}" th:text="${type}"></option>
            </select>
            </label><br><br>
        Год: <label>
            <input type="text" name="year">
            </label><br><br>
        Багажник: <label>
            <input type="text" name="trailer">
            </label><br><br>
        <input type="submit" value="Сохранить">
        <input type="button" name="cancel" value="Закрыть" onclick='location.href="/ui/vehicle"'>
    </form>
</div>
</body>
</html>